@import "tailwindcss";

:root {
  --primary: #53389E;
  --secondary: #7F56D9;
  --tertiery: #E9D7FE;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiery: var(--tertiery);
  --font-inter: var(--font-inter);
}